/* Your Website Styles */

/* Navigation */
/* Your Website Styles */
body {
  background: url("../img/fabric.png");
  font-family: 'Cardo', serif;
  margin-top: 20px;
}

/*********Heade*************************************/

header {
  margin-top: -10px;
  position: fixed;
  background-color: #38424E;
  text-align: left;
  width: 100%;
  left: 0;
  top: 0;
  height: 45px;
  text-decoration: none;
}
header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;

}

/*************************************Headlines**************************************/

h1 {
  color: #5290C8;
  font-size: 2.2em;
}

h2 {
  text-align: left;
  font-size: 1.7em;
  color: #90B6CB;
  text-indent: 20px;
  margin: 10px;
}

h2 {
  background-color: #38424E;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

h3 ~ h4 {
  text-align: center;
}


/**********************************NAVIGATION************************************/


section nav ul li {
  list-style: none;
  float: right;
  margin: 0 4px 0 4px;
}


nav a:link,
nav a:visited  {
  color: #2F84A9;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px 32px;
  font-size: 1.2em;
}

nav a:hover,
nav a:active {
  color: rgb(13, 202, 250);
}

nav a:focus {
  border: 1px dotted #000;
}


/*IDENTIFICATION*/

#phone a:hover {
  background: url("../img/phon_logo.png") no-repeat left center;
}

#email  a:hover {
  background: url("../img/email_logo.png") no-repeat left center;
}

#github  a:hover {
  background: url("../img/github.png") no-repeat left center;
}

#codepen a:hover {
  background: url("../img/codepen_logo.png") no-repeat left;
}


/**********PARAGRAGHS********************************/


section ul li {
  display: list-item;
  list-style: 
}

p {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.2em;
  text-align: center;
}



footer {
  font-size: .5em;
}




/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


img {
  height: 150px;
  width: 150px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}